In [137]:
import pandas as pd

In [138]:
 # Dầu Brent (daily)
df_oil= pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\BZ_F_1d.csv")           
 # USD/VND (daily)
df_usdvnd  = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\VND_X_1d.csv")

In [139]:
df_usdvnd.head()

                datetime_utc    close
0  2015-01-01 00:00:00+00:00  21375.0
1  2015-01-02 00:00:00+00:00  21063.0
2  2015-01-05 00:00:00+00:00  21046.0
3  2015-01-06 00:00:00+00:00  21097.0
4  2015-01-07 00:00:00+00:00  21083.0

In [140]:
df_usdvnd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2816 entries, 0 to 2815
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime_utc  2816 non-null   object
 1   close         2812 non-null   float64
dtypes: float64(1), object(1)
memory usage: 44.1+ KB

In [141]:
df_usdvnd.describe()

              close
count   2812.000000
mean   23261.333579
std     1194.781853
min    20922.000000
25%    22400.750000
50%    23171.000000
75%    23580.000000
max    26425.000000

In [142]:
print(df_usdvnd.isna().sum())

# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_usdvnd.isnull().sum() / len(df_usdvnd) * 100
missing_percent[missing_percent > 0]

datetime_utc    0
close           4
dtype: int64

close    0.142045
dtype: float64

In [ ]:
# Xử lý cột ngày tháng
df_usdvnd["datetime_utc"] = pd.to_datetime(df_usdvnd["datetime_utc"], errors="coerce", utc=True)

# Đổi tên cột cho dễ dùng
df_usdvnd = df_usdvnd.rename(columns={
    "datetime_utc": "Date",
    "close": "USD_VND_Close"
})

# Bỏ timezone (chuyển UTC -> naive datetime)
df_usdvnd["Date"] = df_usdvnd["Date"].dt.tz_localize(None)
df_usdvnd["Date"] = df_usdvnd["Date"].dt.date
# Sắp xếp theo thời gian tăng dần và reset index
df_usdvnd = df_usdvnd.sort_values("Date").reset_index(drop=True)

print(df_usdvnd.head())

         Date  USD_VND_Close
0  2015-01-01        21375.0
1  2015-01-02        21063.0
2  2015-01-05        21046.0
3  2015-01-06        21097.0
4  2015-01-07        21083.0

In [149]:
# TODO: Chuẩn hóa tên cột
df_usdvnd.columns = df_usdvnd.columns.str.strip().str.lower().str.replace(' ', '_')

In [145]:
df_oil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2719 entries, 0 to 2718
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime_utc  2719 non-null   object
 1   close         2715 non-null   float64
dtypes: float64(1), object(1)
memory usage: 42.6+ KB

In [146]:
df_oil.describe()

             close
count  2715.000000
mean     66.648641
std      17.819646
min      19.330000
25%      52.975000
50%      66.550003
75%      78.145000
max     127.980003

In [147]:
print(df_oil.isna().sum())

# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_usdvnd.isnull().sum() / len(df_usdvnd) * 100
missing_percent[missing_percent > 0]

datetime_utc    0
close           4
dtype: int64

USD_VND_Close    0.142045
dtype: float64

In [ ]:
# Xử lý cột ngày tháng
df_oil["datetime_utc"] = pd.to_datetime(df_oil["datetime_utc"], errors="coerce", utc=True)
df_oil = df_oil.rename(columns={
    "datetime_utc": "Date",
    "close": "Oil_Price_Close"
})

# Bỏ timezone 
df_oil["Date"] = df_oil["Date"].dt.tz_localize(None)
df_oil["Date"] = df_oil["Date"].dt.date
# Sắp xếp theo thời gian tăng dần và reset index
df_oil = df_oil.sort_values("Date").reset_index(drop=True)


print(df_oil.head())

         Date  Oil_Price_Close
0  2015-01-02        56.419998
1  2015-01-05        53.110001
2  2015-01-06        51.099998
3  2015-01-07        51.150002
4  2015-01-08        50.959999

In [ ]:
# Chuẩn hóa tên cột
df_oil.columns = df_oil.columns.str.strip().str.lower().str.replace(' ', '_')