In [81]:
import pandas as pd

In [82]:
# GDP tăng trưởng %
df_gdp_growth  = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\NY.GDP.MKTP.KD.ZG_VN_RAW.csv")  
# Chỉ số giá tiêu dùng tổng hợp
df_cpi_index   = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\FP.CPI.TOTL.ZG_VN_WB_RAW.csv")        
# Dòng vốn đầu tư trực tiếp
df_fdi_inflow  = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\BX.KLT.DINV.CD.WD_VN_RAW.csv")

In [83]:
df_gdp_growth.head()

,indicator_id,indicator_value,country_id,country_value,countryiso3code,date,value,unit,obs_status,decimal
0,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2024,7.091187,NaN,NaN,1
1,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2023,5.065024,NaN,NaN,1
2,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2022,8.537500,NaN,NaN,1
3,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2021,2.553729,NaN,NaN,1
4,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2020,2.865413,NaN,NaN,1

In [84]:
df_gdp_growth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator_id     65 non-null     object
 1   indicator_value  65 non-null     object
 2   country_id       65 non-null     object
 3   country_value    65 non-null     object
 4   countryiso3code  65 non-null     object
 5   date             65 non-null     int64
 6   value            40 non-null     float64
 7   unit             0 non-null      float64
 8   obs_status       0 non-null      float64
 9   decimal          65 non-null     int64
dtypes: float64(3), int64(2), object(5)
memory usage: 5.2+ KB

In [85]:
# Xử lý cột ngày tháng
df_gdp_growth['date'] = pd.to_datetime(df_gdp_growth['date'].astype(int).astype(str) + '-12-31')

# Chỉ giữ 2 cột cần dùng và đổi tên cột
df_gdp_growth = (df_gdp_growth[['date','value']])
df_gdp_growth.rename(columns={'value':'GDP_percent'}, inplace=True)
df_gdp_growth.sort_values('date').reset_index(drop=True) 


print(df_gdp_growth.head())

        date  GDP_percent
0 2024-12-31     7.091187
1 2023-12-31     5.065024
2 2022-12-31     8.537500
3 2021-12-31     2.553729
4 2020-12-31     2.865413

In [86]:
df_gdp_growth.columns = df_gdp_growth.columns.str.strip().str.lower().str.replace(' ', '_')

print(df_gdp_growth.head())

        date  gdp_percent
0 2024-12-31     7.091187
1 2023-12-31     5.065024
2 2022-12-31     8.537500
3 2021-12-31     2.553729
4 2020-12-31     2.865413

In [87]:
df_gdp_growth.isnull().sum()

date            0
gdp_percent    25
dtype: int64

In [88]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_gdp_growth.isnull().sum() / len(df_gdp_growth) * 100
missing_percent[missing_percent > 0]

gdp_percent    38.461538
dtype: float64

In [89]:
df_gdp_growth.duplicated().sum()  # kiểm tra trùng

0

In [90]:
# Fillna
df_gdp_growth['gdp_percent'] = df_gdp_growth['gdp_percent'].interpolate(method='linear')

In [91]:
df_cpi_index.head()

,indicator_id,indicator_value,country_id,country_value,countryiso3code,date,value,unit,obs_status,decimal
0,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",VN,Viet Nam,VNM,2024,3.621093,NaN,NaN,1
1,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",VN,Viet Nam,VNM,2023,3.252893,NaN,NaN,1
2,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",VN,Viet Nam,VNM,2022,3.156507,NaN,NaN,1
3,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",VN,Viet Nam,VNM,2021,1.834716,NaN,NaN,1
4,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",VN,Viet Nam,VNM,2020,3.220934,NaN,NaN,1

In [92]:
df_cpi_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator_id     65 non-null     object
 1   indicator_value  65 non-null     object
 2   country_id       65 non-null     object
 3   country_value    65 non-null     object
 4   countryiso3code  65 non-null     object
 5   date             65 non-null     int64
 6   value            22 non-null     float64
 7   unit             0 non-null      float64
 8   obs_status       0 non-null      float64
 9   decimal          65 non-null     int64
dtypes: float64(3), int64(2), object(5)
memory usage: 5.2+ KB

In [93]:
# Xử lý cột ngày tháng
df_cpi_index['date'] = pd.to_datetime(df_cpi_index['date'].astype(int).astype(str) + '-12-31')

# Chỉ giữ 2 cột cần dùng và đổi tên cột
df_cpi_index = (df_cpi_index[['date','value']])
df_cpi_index.rename(columns={'value':'cpi_index'}, inplace= True)
df_cpi_index.sort_values('date').reset_index(drop=True) 


print(df_cpi_index.head())

        date  cpi_index
0 2024-12-31   3.621093
1 2023-12-31   3.252893
2 2022-12-31   3.156507
3 2021-12-31   1.834716
4 2020-12-31   3.220934

In [94]:
df_cpi_index.isna().sum()

date          0
cpi_index    43
dtype: int64

In [95]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_cpi_index.isnull().sum() / len(df_cpi_index) * 100
missing_percent[missing_percent > 0]

cpi_index    66.153846
dtype: float64

In [96]:
df_cpi_index.duplicated().sum()  # kiểm tra trùng

0

In [97]:
#fillna
df_cpi_index['cpi_index'] = df_cpi_index['cpi_index'].interpolate(method='linear')

In [98]:
df_fdi_inflow.head()

,indicator_id,indicator_value,country_id,country_value,countryiso3code,date,value,unit,obs_status,decimal
0,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, c...",VN,Viet Nam,VNM,2024,2.017000e+10,NaN,NaN,0
1,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, c...",VN,Viet Nam,VNM,2023,1.850000e+10,NaN,NaN,0
2,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, c...",VN,Viet Nam,VNM,2022,1.790000e+10,NaN,NaN,0
3,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, c...",VN,Viet Nam,VNM,2021,1.566000e+10,NaN,NaN,0
4,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, c...",VN,Viet Nam,VNM,2020,1.580000e+10,NaN,NaN,0

In [99]:
df_fdi_inflow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator_id     65 non-null     object
 1   indicator_value  65 non-null     object
 2   country_id       65 non-null     object
 3   country_value    65 non-null     object
 4   countryiso3code  65 non-null     object
 5   date             65 non-null     int64
 6   value            55 non-null     float64
 7   unit             0 non-null      float64
 8   obs_status       0 non-null      float64
 9   decimal          65 non-null     int64
dtypes: float64(3), int64(2), object(5)
memory usage: 5.2+ KB

In [100]:
# Xử lý cột ngày tháng
df_fdi_inflow['date'] = pd.to_datetime(df_fdi_inflow['date'].astype(int).astype(str) + '-12-31')

# Chỉ giữ 2 cột cần dùng và đổi tên cột
df_fdi_inflow = (df_fdi_inflow[['date','value']])
df_fdi_inflow.rename(columns={'value':'fdi_inflow'},inplace= True)
df_fdi_inflow.sort_values('date').reset_index(drop=True) 


print(df_fdi_inflow.head())

        date    fdi_inflow
0 2024-12-31  2.017000e+10
1 2023-12-31  1.850000e+10
2 2022-12-31  1.790000e+10
3 2021-12-31  1.566000e+10
4 2020-12-31  1.580000e+10

In [101]:
df_fdi_inflow.isna().sum()

date           0
fdi_inflow    10
dtype: int64

In [102]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_fdi_inflow.isnull().sum() / len(df_fdi_inflow) * 100
missing_percent[missing_percent > 0]

fdi_inflow    15.384615
dtype: float64

In [103]:
df_fdi_inflow.duplicated().sum()  # kiểm tra trùng

0

In [104]:
#fillna
df_fdi_inflow['fdi_inflow'] = df_fdi_inflow['fdi_inflow'].interpolate(method='linear')

In [105]:
# lưu file .csv
df_gdp_growth.to_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\processed\gdp_growth_VN.csv", index=False)
df_cpi_index.to_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\processed\cpi_index_VN.csv", index=False)
df_fdi_inflow.to_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\processed\fdi_inflow_VN.csv", index=False)