In [2]:
import pandas as pd

In [3]:
  # Tỷ lệ thất nghiệp (%)
df_unemployment = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_download\unemployment-rate.csv")

In [4]:
df_unemployment.head()

,Entity,Code,Year,"Unemployment, total (% of total labor force) (modeled ILO estimate)"
0,Vietnam,VNM,1991,2.142
1,Vietnam,VNM,1992,2.110
2,Vietnam,VNM,1993,2.038
3,Vietnam,VNM,1994,1.972
4,Vietnam,VNM,1995,1.955

In [5]:
df_unemployment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Entity                                                               34 non-null     object
 1   Code                                                                 34 non-null     object
 2   Year                                                                 34 non-null     int64
 3   Unemployment, total (% of total labor force) (modeled ILO estimate)  34 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.2+ KB

In [8]:
df_unemployment.columns

Index(['Entity', 'Code', 'Year',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)'],
      dtype='object')

In [6]:
df_unemployment.describe()

,Year,"Unemployment, total (% of total labor force) (modeled ILO estimate)"
count,34.000000,34.000000
mean,2007.500000,1.886882
std,9.958246,0.455517
min,1991.000000,0.999000
25%,1999.250000,1.654000
50%,2007.500000,1.963500
75%,2015.750000,2.135000
max,2024.000000,2.870000

In [7]:
df_unemployment.isna().sum()

Entity                                                                 0
Code                                                                   0
Year                                                                   0
Unemployment, total (% of total labor force) (modeled ILO estimate)    0
dtype: int64