In [41]:
import pandas as pd

In [42]:
# GDP danh nghĩa (USD)
df_gdp_nominal = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\NY.GDP.MKTP.CD_VN_RAW.csv")      
# GDP tăng trưởng %
df_gdp_growth  = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\NY.GDP.MKTP.KD.ZG_VN_RAW.csv")  
# Lạm phát theo năm %   
df_cpi_yoy     = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\FP.CPI.TOTL_VN_WB_RAW.csv")     
# Chỉ số giá tiêu dùng tổng hợp
df_cpi_index   = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\FP.CPI.TOTL.ZG_VN_WB_RAW.csv")        
# Dòng vốn đầu tư trực tiếp
df_fdi_inflow  = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\BX.KLT.DINV.CD.WD_VN_RAW.csv")

In [43]:
df_gdp_nominal.head()

,indicator_id,indicator_value,country_id,country_value,countryiso3code,date,value,unit,obs_status,decimal
0,NY.GDP.MKTP.CD,GDP (current US$),VN,Viet Nam,VNM,2024,4.763882e+11,NaN,NaN,0
1,NY.GDP.MKTP.CD,GDP (current US$),VN,Viet Nam,VNM,2023,4.338577e+11,NaN,NaN,0
2,NY.GDP.MKTP.CD,GDP (current US$),VN,Viet Nam,VNM,2022,4.134452e+11,NaN,NaN,0
3,NY.GDP.MKTP.CD,GDP (current US$),VN,Viet Nam,VNM,2021,3.664748e+11,NaN,NaN,0
4,NY.GDP.MKTP.CD,GDP (current US$),VN,Viet Nam,VNM,2020,3.466157e+11,NaN,NaN,0

In [44]:
df_gdp_nominal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator_id     65 non-null     object
 1   indicator_value  65 non-null     object
 2   country_id       65 non-null     object
 3   country_value    65 non-null     object
 4   countryiso3code  65 non-null     object
 5   date             65 non-null     int64
 6   value            40 non-null     float64
 7   unit             0 non-null      float64
 8   obs_status       0 non-null      float64
 9   decimal          65 non-null     int64
dtypes: float64(3), int64(2), object(5)
memory usage: 5.2+ KB

In [45]:
# Xử lý cột ngày tháng
df_gdp_nominal['date'] = pd.to_datetime(df_gdp_nominal['date'].astype(int).astype(str) + '-12-31')

# Chỉ giữ 2 cột cần dùng và đổi tên cột
df_gdp_nominal = (df_gdp_nominal[['date','value']])
df_gdp_nominal.rename(columns={'value':'GDP_nominal_USD'}, inplace=True)
df_gdp_nominal.sort_values('date').reset_index(drop=True) 


print(df_gdp_nominal.head())

        date  GDP_nominal_USD
0 2024-12-31     4.763882e+11
1 2023-12-31     4.338577e+11
2 2022-12-31     4.134452e+11
3 2021-12-31     3.664748e+11
4 2020-12-31     3.466157e+11

In [46]:
df_gdp_nominal.columns = df_gdp_nominal.columns.str.strip().str.lower().str.replace(' ', '_')

print(df_gdp_nominal.head())

        date  gdp_nominal_usd
0 2024-12-31     4.763882e+11
1 2023-12-31     4.338577e+11
2 2022-12-31     4.134452e+11
3 2021-12-31     3.664748e+11
4 2020-12-31     3.466157e+11

In [47]:
df_gdp_nominal.isna().sum()

date                0
gdp_nominal_usd    25
dtype: int64

In [48]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_gdp_nominal.isnull().sum() / len(df_gdp_nominal) * 100
missing_percent[missing_percent > 0]

gdp_nominal_usd    38.461538
dtype: float64

In [49]:
df_gdp_nominal.duplicated().sum()  # kiểm tra trùng

0

In [50]:
#fillna
df_gdp_nominal['gdp_nominal_usd'] = df_gdp_nominal['gdp_nominal_usd'].interpolate(method='linear')

In [51]:
df_gdp_growth.head()

,indicator_id,indicator_value,country_id,country_value,countryiso3code,date,value,unit,obs_status,decimal
0,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2024,7.091187,NaN,NaN,1
1,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2023,5.065024,NaN,NaN,1
2,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2022,8.537500,NaN,NaN,1
3,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2021,2.553729,NaN,NaN,1
4,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2020,2.865413,NaN,NaN,1

In [52]:
df_gdp_growth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator_id     65 non-null     object
 1   indicator_value  65 non-null     object
 2   country_id       65 non-null     object
 3   country_value    65 non-null     object
 4   countryiso3code  65 non-null     object
 5   date             65 non-null     int64
 6   value            40 non-null     float64
 7   unit             0 non-null      float64
 8   obs_status       0 non-null      float64
 9   decimal          65 non-null     int64
dtypes: float64(3), int64(2), object(5)
memory usage: 5.2+ KB

In [53]:
# Xử lý cột ngày tháng
df_gdp_growth['date'] = pd.to_datetime(df_gdp_growth['date'].astype(int).astype(str) + '-12-31')

# Chỉ giữ 2 cột cần dùng và đổi tên cột
df_gdp_growth = (df_gdp_growth[['date','value']])
df_gdp_growth.rename(columns={'value':'GDP_percent'}, inplace=True)
df_gdp_growth.sort_values('date').reset_index(drop=True) 


print(df_gdp_growth.head())

        date  GDP_percent
0 2024-12-31     7.091187
1 2023-12-31     5.065024
2 2022-12-31     8.537500
3 2021-12-31     2.553729
4 2020-12-31     2.865413

In [54]:
df_gdp_growth.columns = df_gdp_growth.columns.str.strip().str.lower().str.replace(' ', '_')

print(df_gdp_growth.head())

        date  gdp_percent
0 2024-12-31     7.091187
1 2023-12-31     5.065024
2 2022-12-31     8.537500
3 2021-12-31     2.553729
4 2020-12-31     2.865413

In [55]:
df_gdp_growth.isnull().sum()

date            0
gdp_percent    25
dtype: int64

In [56]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_gdp_growth.isnull().sum() / len(df_gdp_growth) * 100
missing_percent[missing_percent > 0]

gdp_percent    38.461538
dtype: float64

In [57]:
df_gdp_growth.duplicated().sum()  # kiểm tra trùng

0

In [58]:
# Fillna
df_gdp_growth['gdp_percent'] = df_gdp_growth['gdp_percent'].interpolate(method='linear')

In [59]:
df_cpi_yoy.head()

,indicator_id,indicator_value,country_id,country_value,countryiso3code,date,value,unit,obs_status,decimal
0,FP.CPI.TOTL,Consumer price index (2010 = 100),VN,Viet Nam,VNM,2024,189.702668,NaN,NaN,1
1,FP.CPI.TOTL,Consumer price index (2010 = 100),VN,Viet Nam,VNM,2023,183.073410,NaN,NaN,1
2,FP.CPI.TOTL,Consumer price index (2010 = 100),VN,Viet Nam,VNM,2022,177.305841,NaN,NaN,1
3,FP.CPI.TOTL,Consumer price index (2010 = 100),VN,Viet Nam,VNM,2021,171.880423,NaN,NaN,1
4,FP.CPI.TOTL,Consumer price index (2010 = 100),VN,Viet Nam,VNM,2020,168.783721,NaN,NaN,1

In [60]:
df_cpi_yoy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator_id     65 non-null     object
 1   indicator_value  65 non-null     object
 2   country_id       65 non-null     object
 3   country_value    65 non-null     object
 4   countryiso3code  65 non-null     object
 5   date             65 non-null     int64
 6   value            30 non-null     float64
 7   unit             0 non-null      float64
 8   obs_status       0 non-null      float64
 9   decimal          65 non-null     int64
dtypes: float64(3), int64(2), object(5)
memory usage: 5.2+ KB

In [61]:
# Xử lý cột ngày tháng
df_cpi_yoy['date'] = pd.to_datetime(df_cpi_yoy['date'].astype(int).astype(str) + '-12-31')

# Chỉ giữ 2 cột cần dùng và đổi tên cột
df_cpi_yoy = (df_cpi_yoy[['date','value']])
df_cpi_yoy.rename(columns={'value':'cpi_value'}, inplace= True)
df_cpi_yoy.sort_values('date').reset_index(drop=True) 


print(df_cpi_yoy.head())

        date   cpi_value
0 2024-12-31  189.702668
1 2023-12-31  183.073410
2 2022-12-31  177.305841
3 2021-12-31  171.880423
4 2020-12-31  168.783721

In [62]:
df_cpi_yoy.isna().sum()

date          0
cpi_value    35
dtype: int64

In [63]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_cpi_yoy.isnull().sum() / len(df_cpi_yoy) * 100
missing_percent[missing_percent > 0]

cpi_value    53.846154
dtype: float64

In [64]:
df_cpi_yoy.duplicated().sum()  # kiểm tra trùng

0

In [65]:
#fillna 
df_cpi_yoy['cpi_value'] = df_cpi_yoy['cpi_value'].interpolate(method='linear')

In [66]:
df_cpi_index.head()

,indicator_id,indicator_value,country_id,country_value,countryiso3code,date,value,unit,obs_status,decimal
0,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",VN,Viet Nam,VNM,2024,3.621093,NaN,NaN,1
1,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",VN,Viet Nam,VNM,2023,3.252893,NaN,NaN,1
2,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",VN,Viet Nam,VNM,2022,3.156507,NaN,NaN,1
3,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",VN,Viet Nam,VNM,2021,1.834716,NaN,NaN,1
4,FP.CPI.TOTL.ZG,"Inflation, consumer prices (annual %)",VN,Viet Nam,VNM,2020,3.220934,NaN,NaN,1

In [67]:
df_cpi_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator_id     65 non-null     object
 1   indicator_value  65 non-null     object
 2   country_id       65 non-null     object
 3   country_value    65 non-null     object
 4   countryiso3code  65 non-null     object
 5   date             65 non-null     int64
 6   value            22 non-null     float64
 7   unit             0 non-null      float64
 8   obs_status       0 non-null      float64
 9   decimal          65 non-null     int64
dtypes: float64(3), int64(2), object(5)
memory usage: 5.2+ KB

In [68]:
# Xử lý cột ngày tháng
df_cpi_index['date'] = pd.to_datetime(df_cpi_index['date'].astype(int).astype(str) + '-12-31')

# Chỉ giữ 2 cột cần dùng và đổi tên cột
df_cpi_index = (df_cpi_index[['date','value']])
df_cpi_index.rename(columns={'value':'cpi_index'}, inplace= True)
df_cpi_index.sort_values('date').reset_index(drop=True) 


print(df_cpi_index.head())

        date  cpi_index
0 2024-12-31   3.621093
1 2023-12-31   3.252893
2 2022-12-31   3.156507
3 2021-12-31   1.834716
4 2020-12-31   3.220934

In [69]:
df_cpi_index.isna().sum()

date          0
cpi_index    43
dtype: int64

In [70]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_cpi_index.isnull().sum() / len(df_cpi_index) * 100
missing_percent[missing_percent > 0]

cpi_index    66.153846
dtype: float64

In [71]:
df_cpi_index.duplicated().sum()  # kiểm tra trùng

0

In [72]:
#fillna
df_cpi_index['cpi_index'] = df_cpi_index['cpi_index'].interpolate(method='linear')

In [73]:
df_fdi_inflow.head()

,indicator_id,indicator_value,country_id,country_value,countryiso3code,date,value,unit,obs_status,decimal
0,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, c...",VN,Viet Nam,VNM,2024,2.017000e+10,NaN,NaN,0
1,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, c...",VN,Viet Nam,VNM,2023,1.850000e+10,NaN,NaN,0
2,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, c...",VN,Viet Nam,VNM,2022,1.790000e+10,NaN,NaN,0
3,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, c...",VN,Viet Nam,VNM,2021,1.566000e+10,NaN,NaN,0
4,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, c...",VN,Viet Nam,VNM,2020,1.580000e+10,NaN,NaN,0

In [74]:
df_fdi_inflow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator_id     65 non-null     object
 1   indicator_value  65 non-null     object
 2   country_id       65 non-null     object
 3   country_value    65 non-null     object
 4   countryiso3code  65 non-null     object
 5   date             65 non-null     int64
 6   value            55 non-null     float64
 7   unit             0 non-null      float64
 8   obs_status       0 non-null      float64
 9   decimal          65 non-null     int64
dtypes: float64(3), int64(2), object(5)
memory usage: 5.2+ KB

In [75]:
# Xử lý cột ngày tháng
df_fdi_inflow['date'] = pd.to_datetime(df_fdi_inflow['date'].astype(int).astype(str) + '-12-31')

# Chỉ giữ 2 cột cần dùng và đổi tên cột
df_fdi_inflow = (df_fdi_inflow[['date','value']])
df_fdi_inflow.rename(columns={'value':'fdi_inflow'},inplace= True)
df_fdi_inflow.sort_values('date').reset_index(drop=True) 


print(df_fdi_inflow.head())

        date    fdi_inflow
0 2024-12-31  2.017000e+10
1 2023-12-31  1.850000e+10
2 2022-12-31  1.790000e+10
3 2021-12-31  1.566000e+10
4 2020-12-31  1.580000e+10

In [76]:
df_fdi_inflow.isna().sum()

date           0
fdi_inflow    10
dtype: int64

In [77]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_fdi_inflow.isnull().sum() / len(df_fdi_inflow) * 100
missing_percent[missing_percent > 0]

fdi_inflow    15.384615
dtype: float64

In [78]:
df_fdi_inflow.duplicated().sum()  # kiểm tra trùng

0

In [79]:
#fillna
df_fdi_inflow['fdi_inflow'] = df_fdi_inflow['fdi_inflow'].interpolate(method='linear')

In [80]:
# lưu file .csv
df_gdp_growth.to_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\processed\gdp_growth_VN.csv", index=False)
df_cpi_yoy.to_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\processed\cpi_yoy_VN.csv", index=False)
df_cpi_index.to_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\processed\cpi_index_VN.csv", index=False)
df_fdi_inflow.to_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\processed\fdi_inflow_VN.csv", index=False)