In [1]:
import pandas as pd

In [2]:
 # Tổng mức bán lẻ hàng hóa
df_retail_gso = pd.read_excel(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_download\E07.01.xlsx")  
# Chỉ số giá tiêu dùng (CPI)
df_cpi_gso    = pd.read_excel(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_download\E08.02.xlsx")

In [3]:
df_cpi_gso.head()

,"Retail sales of goods and services at current prices by province by Cities, provincies and Year",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.00,2020.0,2021.00,2022.00,2023.00,Prel. 2024
2,WHOLE COUNTRY,1677344.7,2079523.5,2369130.6,2615203.6,2916233.9,3223202.6,3546268.6,3956599.1,4393525.5,4892114.39,4847645.3,4407812.44,5354351.07,5913743.74,6447397.36

In [4]:
df_cpi_gso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 16 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   Retail sales of goods and services at current prices by province by Cities, provincies and Year  1 non-null      object
 1   Unnamed: 1                                                                                       2 non-null      float64
 2   Unnamed: 2                                                                                       2 non-null      float64
 3   Unnamed: 3                                                                                       2 non-null      float64
 4   Unnamed: 4                                                                                       2 non-null      float64
 5   Unnamed: 5                                                                                       2 non-null      float64
 6   Unnamed: 6                                                                                       2 non-null      float64
 7   Unnamed: 7                                                                                       2 non-null      float64
 8   Unnamed: 8                                                                                       2 non-null      float64
 9   Unnamed: 9                                                                                       2 non-null      float64
 10  Unnamed: 10                                                                                      2 non-null      float64
 11  Unnamed: 11                                                                                      2 non-null      float64
 12  Unnamed: 12                                                                                      2 non-null      float64
 13  Unnamed: 13                                                                                      2 non-null      float64
 14  Unnamed: 14                                                                                      2 non-null      float64
 15  Unnamed: 15                                                                                      2 non-null      object
dtypes: float64(14), object(2)
memory usage: 516.0+ bytes

In [5]:
df_cpi_gso.isna().sum()

Retail sales of goods and services at current prices by province by Cities, provincies and Year    2
Unnamed: 1                                                                                         1
Unnamed: 2                                                                                         1
Unnamed: 3                                                                                         1
Unnamed: 4                                                                                         1
Unnamed: 5                                                                                         1
Unnamed: 6                                                                                         1
Unnamed: 7                                                                                         1
Unnamed: 8                                                                                         1
Unnamed: 9                                                                                         1
Unnamed: 10                                                                                        1
Unnamed: 11                                                                                        1
Unnamed: 12                                                                                        1
Unnamed: 13                                                                                        1
Unnamed: 14                                                                                        1
Unnamed: 15                                                                                        1
dtype: int64

In [6]:
df_retail_gso.head()

,Index of Industrial production by industrial activity* by Industrial activity and Year,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,Prel. 2024
2,TOTAL,105.8,105.9,107.6,109.8,107.4,111.3,110.09,109.09,103.29,104.66,107.43,101.33,108.24

In [7]:
df_retail_gso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 14 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   Index of Industrial production by industrial activity* by Industrial activity and Year  1 non-null      object
 1   Unnamed: 1                                                                              2 non-null      float64
 2   Unnamed: 2                                                                              2 non-null      float64
 3   Unnamed: 3                                                                              2 non-null      float64
 4   Unnamed: 4                                                                              2 non-null      float64
 5   Unnamed: 5                                                                              2 non-null      float64
 6   Unnamed: 6                                                                              2 non-null      float64
 7   Unnamed: 7                                                                              2 non-null      float64
 8   Unnamed: 8                                                                              2 non-null      float64
 9   Unnamed: 9                                                                              2 non-null      float64
 10  Unnamed: 10                                                                             2 non-null      float64
 11  Unnamed: 11                                                                             2 non-null      float64
 12  Unnamed: 12                                                                             2 non-null      float64
 13  Unnamed: 13                                                                             2 non-null      object
dtypes: float64(12), object(2)
memory usage: 468.0+ bytes

In [8]:
df_retail_gso.isna().sum()

Index of Industrial production by industrial activity* by Industrial activity and Year    2
Unnamed: 1                                                                                1
Unnamed: 2                                                                                1
Unnamed: 3                                                                                1
Unnamed: 4                                                                                1
Unnamed: 5                                                                                1
Unnamed: 6                                                                                1
Unnamed: 7                                                                                1
Unnamed: 8                                                                                1
Unnamed: 9                                                                                1
Unnamed: 10                                                                               1
Unnamed: 11                                                                               1
Unnamed: 12                                                                               1
Unnamed: 13                                                                               1
dtype: int64