In [ ]:
import pandas as pd

In [2]:
# VN-Index (daily)
df_vnindex = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\VNINDEX_CafeF_RAW.csv")

In [ ]:
df_vnindex.head()

,Ngay,GiaDieuChinh,GiaDongCua,ThayDoi,KhoiLuongKhopLenh,GiaTriKhopLenh,KLThoaThuan,GtThoaThuan,GiaMoCua,GiaCaoNhat,GiaThapNhat
0,16/10/2025,1766.85,1766.85,8.9(0.51 %),1086412300,3.491092e+13,83162771,4944560741200,1764.51,1768.51,1753.50
1,15/10/2025,1757.95,1757.95,-3.11(-0.18 %),1106642900,3.543941e+13,71573918,2175428266400,1766.12,1773.73,1754.89
2,14/10/2025,1761.06,1761.06,-4.06(-0.23 %),1489829500,4.888682e+13,51618884,1779093656900,1782.97,1794.58,1753.25
3,13/10/2025,1765.12,1765.12,17.57(1.01 %),1230255900,3.848921e+13,79429310,2486213813400,1738.23,1766.77,1736.03
4,10/10/2025,1747.55,1747.55,31.08(1.81 %),997548900,3.204165e+13,60371653,1462041040050,1725.27,1747.61,1721.76

In [4]:
df_vnindex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6133 entries, 0 to 6132
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ngay               6133 non-null   object
 1   GiaDieuChinh       6133 non-null   float64
 2   GiaDongCua         6133 non-null   float64
 3   ThayDoi            6133 non-null   object
 4   KhoiLuongKhopLenh  6133 non-null   int64
 5   GiaTriKhopLenh     6133 non-null   float64
 6   KLThoaThuan        6133 non-null   int64
 7   GtThoaThuan        6133 non-null   int64
 8   GiaMoCua           6133 non-null   float64
 9   GiaCaoNhat         6133 non-null   float64
 10  GiaThapNhat        6133 non-null   float64
dtypes: float64(6), int64(3), object(2)
memory usage: 527.2+ KB

In [5]:
df_vnindex.columns

Index(['Ngay', 'GiaDieuChinh', 'GiaDongCua', 'ThayDoi', 'KhoiLuongKhopLenh',
       'GiaTriKhopLenh', 'KLThoaThuan', 'GtThoaThuan', 'GiaMoCua',
       'GiaCaoNhat', 'GiaThapNhat'],
      dtype='object')

In [6]:
df_vnindex.describe()

,GiaDieuChinh,GiaDongCua,KhoiLuongKhopLenh,GiaTriKhopLenh,KLThoaThuan,GtThoaThuan,GiaMoCua,GiaCaoNhat,GiaThapNhat
count,6133.000000,6133.000000,6.133000e+03,6.133000e+03,6.133000e+03,6.133000e+03,6133.000000,6133.000000,6133.000000
mean,682.284332,682.284332,1.961273e+08,4.549173e+12,2.027250e+07,5.851743e+11,682.448356,686.168224,678.142818
std,379.874837,379.874837,2.987555e+08,7.510462e+12,3.144540e+07,1.038329e+12,380.079617,382.266677,376.986214
min,100.000000,100.000000,3.000000e+02,5.160000e+06,0.000000e+00,0.000000e+00,100.000000,100.000000,100.000000
25%,399.720000,399.720000,4.692360e+06,2.199129e+11,1.930000e+05,1.036704e+10,399.520000,402.190000,396.310000
50%,571.680000,571.680000,6.828903e+07,1.375313e+12,5.774000e+06,1.660190e+11,571.740000,575.710000,568.700000
75%,989.260000,989.260000,1.970894e+08,3.948225e+12,2.973521e+07,8.579745e+11,989.740000,994.750000,985.480000
max,1766.850000,1766.850000,2.695362e+09,7.278754e+13,4.331496e+08,3.146950e+13,1782.970000,1794.580000,1754.890000

In [7]:
df_vnindex.isna().sum()

Ngay                 0
GiaDieuChinh         0
GiaDongCua           0
ThayDoi              0
KhoiLuongKhopLenh    0
GiaTriKhopLenh       0
KLThoaThuan          0
GtThoaThuan          0
GiaMoCua             0
GiaCaoNhat           0
GiaThapNhat          0
dtype: int64

- Giữ lại ngày và gia dong cua