In [3]:
import pandas as pd
import numpy as np

In [ ]:
 # T·ªïng m·ª©c b√°n l·∫ª h√†ng h√≥a
df_retail_gso = pd.read_excel(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\NƒÉm ba 2025-2026\HK1_A\Thu th·∫≠p v√† ti·ªÅn x·ª≠ l√Ω d·ªØ li·ªáu\ƒê·ªì_√°n_GDP\data\data_download\E07.01.xlsx", header=2)

In [5]:
df_retail_gso.head()

,Unnamed: 0,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Prel. 2024
0,TOTAL,105.8,105.9,107.6,109.8,107.4,111.3,110.09,109.09,103.29,104.66,107.43,101.33,108.24

In [6]:
# 1Chuy·ªÉn v·ªã b·∫£ng ƒë·ªÉ nƒÉm th√†nh h√†ng
df_retail_gso_clean = df_retail_gso.T

# Reset index ƒë·ªÉ t·∫°o c·ªôt 'Year'
df_retail_gso_clean = df_retail_gso_clean.reset_index()

# ƒê·∫∑t l·∫°i t√™n c·ªôt
df_retail_gso_clean.columns = ['date', 'retail_value']

# B·ªè d√≤ng unname 
df_retail_gso_clean = df_retail_gso_clean.drop(0)
# Hi·ªÉn th·ªã k·∫øt qu·∫£
print(df_retail_gso_clean.head())

   date retail_value
1  2012        105.8
2  2013        105.9
3  2014        107.6
4  2015        109.8
5  2016        107.4

In [7]:
df_retail_gso_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 1 to 13
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          13 non-null     object
 1   retail_value  13 non-null     object
dtypes: object(2)
memory usage: 340.0+ bytes

In [8]:
# L√†m s·∫°ch c·ªôt 'date' 
df_retail_gso_clean['date'] = (
    df_retail_gso_clean['date']
    .astype(str)
    .str.extract(r'(\d{4})')   # ch·ªâ gi·ªØ l·∫°i 4 ch·ªØ s·ªë li√™n ti·∫øp (v√≠ d·ª•: "Prel.2024" ‚Üí "2024")
)

# Chuy·ªÉn sang datetime (d√πng ng√†y cu·ªëi nƒÉm)
df_retail_gso_clean['date'] = pd.to_datetime(df_retail_gso_clean['date'] + '-12-31', format='%Y-%m-%d')

# Chuy·ªÉn 'retail_value' sang float 
df_retail_gso_clean['retail_value'] = pd.to_numeric(df_retail_gso_clean['retail_value'], errors='coerce')

# üîç 5. Ki·ªÉm tra l·∫°i
df_retail_gso_clean.info()
print(df_retail_gso_clean.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 1 to 13
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          13 non-null     datetime64[ns]
 1   retail_value  13 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 340.0 bytes
        date  retail_value
1 2012-12-31         105.8
2 2013-12-31         105.9
3 2014-12-31         107.6
4 2015-12-31         109.8
5 2016-12-31         107.4

In [9]:
df_retail_gso_clean.isna().sum()

date            0
retail_value    0
dtype: int64

In [10]:
df_retail_gso_clean.to_csv(r'C:\Users\Admin\Desktop\TANPHAT\hocotruong\NƒÉm ba 2025-2026\HK1_A\Thu th·∫≠p v√† ti·ªÅn x·ª≠ l√Ω d·ªØ li·ªáu\ƒê·ªì_√°n_GDP\data\processed\Retail_processed.csv.csv', index=False)