In [152]:
import pandas as pd

In [153]:
# VN-Index (daily)
df_vnindex = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\VNINDEX_CafeF_RAW.csv")

In [154]:
df_vnindex.head()

,Ngay,GiaDieuChinh,GiaDongCua,ThayDoi,KhoiLuongKhopLenh,GiaTriKhopLenh,KLThoaThuan,GtThoaThuan,GiaMoCua,GiaCaoNhat,GiaThapNhat
0,16/10/2025,1766.85,1766.85,8.9(0.51 %),1086412300,3.491092e+13,83162771,4944560741200,1764.51,1768.51,1753.50
1,15/10/2025,1757.95,1757.95,-3.11(-0.18 %),1106642900,3.543941e+13,71573918,2175428266400,1766.12,1773.73,1754.89
2,14/10/2025,1761.06,1761.06,-4.06(-0.23 %),1489829500,4.888682e+13,51618884,1779093656900,1782.97,1794.58,1753.25
3,13/10/2025,1765.12,1765.12,17.57(1.01 %),1230255900,3.848921e+13,79429310,2486213813400,1738.23,1766.77,1736.03
4,10/10/2025,1747.55,1747.55,31.08(1.81 %),997548900,3.204165e+13,60371653,1462041040050,1725.27,1747.61,1721.76

In [155]:
df_vnindex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6133 entries, 0 to 6132
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ngay               6133 non-null   object
 1   GiaDieuChinh       6133 non-null   float64
 2   GiaDongCua         6133 non-null   float64
 3   ThayDoi            6133 non-null   object
 4   KhoiLuongKhopLenh  6133 non-null   int64
 5   GiaTriKhopLenh     6133 non-null   float64
 6   KLThoaThuan        6133 non-null   int64
 7   GtThoaThuan        6133 non-null   int64
 8   GiaMoCua           6133 non-null   float64
 9   GiaCaoNhat         6133 non-null   float64
 10  GiaThapNhat        6133 non-null   float64
dtypes: float64(6), int64(3), object(2)
memory usage: 527.2+ KB

In [156]:
df_vnindex.columns

Index(['Ngay', 'GiaDieuChinh', 'GiaDongCua', 'ThayDoi', 'KhoiLuongKhopLenh',
       'GiaTriKhopLenh', 'KLThoaThuan', 'GtThoaThuan', 'GiaMoCua',
       'GiaCaoNhat', 'GiaThapNhat'],
      dtype='object')

In [157]:
df_vnindex.isna().sum()

Ngay                 0
GiaDieuChinh         0
GiaDongCua           0
ThayDoi              0
KhoiLuongKhopLenh    0
GiaTriKhopLenh       0
KLThoaThuan          0
GtThoaThuan          0
GiaMoCua             0
GiaCaoNhat           0
GiaThapNhat          0
dtype: int64

In [158]:
df_vnindex_clean = df_vnindex.loc[:,['Ngay','GiaDongCua']]

In [159]:
# Xử lý cột ngày tháng
# Chuyển sang datetime 
df_vnindex_clean['Ngay'] = pd.to_datetime(df_vnindex_clean['Ngay'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_111908\271999831.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_vnindex_clean['Ngay'] = pd.to_datetime(df_vnindex_clean['Ngay'])

In [160]:
df_vnindex_clean.columns = df_vnindex_clean.columns.str.strip().str.lower().str.replace(' ', '_')
df_vnindex_clean.rename(columns={'ngay':'date', 'giadongcua':'vnindex_close'}, inplace=True)

In [161]:
df_vnindex_clean.duplicated().sum()

0

In [162]:
df_vnindex_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6133 entries, 0 to 6132
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           6133 non-null   datetime64[ns]
 1   vnindex_close  6133 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 96.0 KB

In [163]:
df_vnindex_clean.to_csv(r'C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\processed\VNINDEX_processed.csv', index=False)