In [23]:
import pandas as pd

In [24]:
# GDP danh nghĩa (USD)
df_gdp_nominal = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\NY.GDP.MKTP.CD_VN_RAW.csv")      
# GDP tăng trưởng %
df_gdp_growth  = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\NY.GDP.MKTP.KD.ZG_VN_RAW.csv")  
# Lạm phát theo năm %   
df_cpi_yoy     = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\FP.CPI.TOTL_VN_WB_RAW.csv")     
# Chỉ số giá tiêu dùng tổng hợp
df_cpi_index   = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\FP.CPI.TOTL_VN_WB_RAW.csv")        
# Dòng vốn đầu tư trực tiếp
df_fdi_inflow  = pd.read_csv(r"C:\Users\Admin\Desktop\TANPHAT\hocotruong\Năm ba 2025-2026\HK1_A\Thu thập và tiền xử lý dữ liệu\Đồ_án_GDP\data\data_raw\BX.KLT.DINV.CD.WD_VN_RAW.csv")

In [25]:
df_gdp_nominal.head()

,indicator_id,indicator_value,country_id,country_value,countryiso3code,date,value,unit,obs_status,decimal
0,NY.GDP.MKTP.CD,GDP (current US$),VN,Viet Nam,VNM,2024,4.763882e+11,NaN,NaN,0
1,NY.GDP.MKTP.CD,GDP (current US$),VN,Viet Nam,VNM,2023,4.338577e+11,NaN,NaN,0
2,NY.GDP.MKTP.CD,GDP (current US$),VN,Viet Nam,VNM,2022,4.134452e+11,NaN,NaN,0
3,NY.GDP.MKTP.CD,GDP (current US$),VN,Viet Nam,VNM,2021,3.664748e+11,NaN,NaN,0
4,NY.GDP.MKTP.CD,GDP (current US$),VN,Viet Nam,VNM,2020,3.466157e+11,NaN,NaN,0

In [ ]:
df_gdp_nominal.info()

In [ ]:
df_gdp_nominal.isna().sum()

In [27]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_gdp_nominal.isnull().sum() / len(df_gdp_nominal) * 100
missing_percent[missing_percent > 0]

value          38.461538
unit          100.000000
obs_status    100.000000
dtype: float64

In [28]:
df_gdp_growth.head()

,indicator_id,indicator_value,country_id,country_value,countryiso3code,date,value,unit,obs_status,decimal
0,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2024,7.091187,NaN,NaN,1
1,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2023,5.065024,NaN,NaN,1
2,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2022,8.537500,NaN,NaN,1
3,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2021,2.553729,NaN,NaN,1
4,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),VN,Viet Nam,VNM,2020,2.865413,NaN,NaN,1

In [ ]:
df_gdp_growth.info()

In [ ]:
df_gdp_growth.isnull().sum()

In [29]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_gdp_growth.isnull().sum() / len(df_gdp_growth) * 100
missing_percent[missing_percent > 0]

value          38.461538
unit          100.000000
obs_status    100.000000
dtype: float64

In [ ]:
df_cpi_yoy.head()

In [ ]:
df_cpi_yoy.info()

In [ ]:
df_cpi_yoy.isna().sum()

In [30]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_cpi_yoy.isnull().sum() / len(df_cpi_yoy) * 100
missing_percent[missing_percent > 0]

value          53.846154
unit          100.000000
obs_status    100.000000
dtype: float64

In [ ]:
df_cpi_index.head()

In [ ]:
df_cpi_index.info()

In [ ]:
df_cpi_index.isna().sum()

In [31]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_cpi_index.isnull().sum() / len(df_cpi_index) * 100
missing_percent[missing_percent > 0]

value          53.846154
unit          100.000000
obs_status    100.000000
dtype: float64

In [ ]:
df_fdi_inflow.head()

In [ ]:
df_fdi_inflow.info()

In [ ]:
df_fdi_inflow.isna().sum()

In [32]:
# Tỷ lệ phần trăm giá trị thiếu
missing_percent = df_fdi_inflow.isnull().sum() / len(df_fdi_inflow) * 100
missing_percent[missing_percent > 0]

value          15.384615
unit          100.000000
obs_status    100.000000
dtype: float64